install/lock
nexuiz/svn/*
nexuiz/Nexuiz_SVN_*
nexuiz/nexuiz_25
nexuiz/compile_nexuiz_svn.log
config/servers/offline
config/servers/rcon2irc/offline
config/servers/common/offline
extras/files/global/*.pk3
extras/files/local_ctf
extras/map_pool
logs/local_ctf
